# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable Require': 'require:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Require'
      'submenu': [
        { 'label': 'Require', 'command': 'require:require' }
      ]
    ]
  }
]
